<?xml version="1.0" encoding="utf-8"?>
<DataType Key="91f9e36c-2295-400c-b640-e1a5e5095e42" Alias="Document - Upload File - File upload" Level="1">
  <Info>
    <Name>Document - Upload File - File upload</Name>
    <EditorAlias>Umbraco.UploadField</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "FileExtensions": [
    {
      "id": 0,
      "value": "pdf"
    },
    {
      "id": 0,
      "value": "doc"
    },
    {
      "id": 0,
      "value": "pptx"
    },
    {
      "id": 0,
      "value": "xlsx"
    }
  ]
}]]></Config>
</DataType>