<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8d15ab61-08e3-42f8-b85b-e5ddc2155f30" Alias="Document - File - Media Picker" Level="1">
  <Info>
    <Name>Document - File - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "File,Image,VectorGraphics,Video,Audio,Article",
  "Multiple": false,
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "StartNodeId": null,
  "IgnoreUserStartNodes": false,
  "EnableLocalFocalPoint": false,
  "Crops": []
}]]></Config>
</DataType>