<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9cfda5c0-243e-4e5c-958a-3ce70a249a38" Alias="Home Page - Meta Description - Textarea" Level="1">
  <Info>
    <Name>Home Page - Meta Description - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>