<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f7428a5f-ee68-4021-919a-b9c9e5625731" Alias="Media Picker" Level="1">
  <Info>
    <Name>Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "Image,VectorGraphics",
  "Multiple": false,
  "ValidationLimit": {
    "min": null,
    "max": 1
  },
  "StartNodeId": null,
  "IgnoreUserStartNodes": false,
  "EnableLocalFocalPoint": false,
  "Crops": []
}]]></Config>
</DataType>