<?xml version="1.0" encoding="utf-8"?>
<DataType Key="15b3fb77-ecaa-4f2d-a7b0-cd9e543f46c0" Alias="Overview - Items per page - Numeric" Level="1">
  <Info>
    <Name>Overview - Items per page - Numeric</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>