<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1b613c60-6903-4602-bd89-5d647285fdc0" Alias="Overview - Multinode Treepicker" Level="1">
  <Info>
    <Name>Overview - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": "newsArticle",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>