html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}
@media only screen and (max-width: 992px) {
  html {
    font-size: 0.95em;
  }
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 0.9em;
  }
}
body {
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  width: 100%;
  overflow-x: hidden;
  color: #35444f;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  margin-bottom: 0.2em;
  color: #111;
}
h1 {
  font-size: 1.16rem;
  font-weight: 800;
}
h2 {
  font-size: 1.33rem;
  font-weight: 600;
  color: #35444f;
}
.pre-head {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #c0b59d;
  font-weight: 800;
  font-size: 0.91rem;
  line-height: 1;
  margin-bottom: 1.2em;
}
a,
a:hover {
  text-decoration: none;
}
p {
  margin-bottom: 0.2em;
}
img {
  max-width: 100%;
  color: #35444f;
}
button,
a.button {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 1rem;
  text-transform: uppercase;
  color: #35444f;
  background-color: transparent;
  padding: 15px 30px;
  border: 2px solid #c0b59d;
  border-radius: 3px;
}
button:hover,
a.button:hover {
  color: #fff;
  background-color: #c0b59d;
}
.button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*======================================
  #Colors
======================================*/
.theme-bg {
  background-color: #c0b59d;
}
.list-container {
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.list-container.files {
  padding: 0;
  border-top: none;
}
.list-container.files + .list-container {
  border-top: none;
}
.list-container.files + .list-container .list-container__content,
.list-container.files + .list-container .file-container {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.list-container.files .list-container__content {
  padding: 2em 50px 0 50px;
}
.list-container.files:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.list-container.files:hover + .files .file-container {
  border-top: none;
}
.list-container.files:hover .file-container {
  border-top: none;
}
.list-container + .list-container {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.list-container:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 17px 33px -35px #00000f26, 0 -17px 33px -35px #00000f26;
          box-shadow: 0 17px 33px -35px #00000f26, 0 -17px 33px -35px #00000f26;
  border-top: none;
}
.list-container:hover + .list-container {
  border-top: none;
}
.list-container:hover a.button {
  color: #fff;
  background-color: #c0b59d;
}
.list-container__content p {
  margin-bottom: 2em;
}
.list-container__img img {
  width: 60px;
}
.file-container {
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  padding: 0 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.file-container .info-popup {
  position: absolute;
  background-color: #15384a;
  color: #fff;
  text-transform: uppercase;
  max-width: 300px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 15px;
  font-size: 13px;
  line-height: 15px;
  border-radius: 5px;
  bottom: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, 50px) scale(0.9);
          transform: translate(-50%, 50px) scale(0.9);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
.file-container .info-popup::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 19px solid transparent;
  border-right: 19px solid transparent;
  border-top: 10px solid #15384a;
  position: absolute;
  bottom: -10px;
  margin-left: -17px;
  left: 50%;
}
.file-container:hover {
  -webkit-box-shadow: -8px 0 37px -7px #00000f26;
          box-shadow: -8px 0 37px -7px #00000f26;
  border-left: none;
}
.file-container:hover .info-popup {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
  -webkit-transform: translate(-50%, 40px) scale(1);
          transform: translate(-50%, 40px) scale(1);
  visibility: visible;
  opacity: 1;
}
.col-5 {
  width: 5%;
}
.col-10 {
  width: 10%;
}
.col-15 {
  width: 15%;
}
.col-20 {
  width: 20%;
}
.col-25 {
  width: 25%;
}
.col-30 {
  width: 30%;
}
.col-35 {
  width: 35%;
}
.col-40 {
  width: 40%;
}
.col-50 {
  width: 50%;
}
.col-60 {
  width: 60%;
}
.col-65 {
  width: 65%;
}
.col-70 {
  width: 70%;
}
.col-75 {
  width: 75%;
}
.col-85 {
  width: 85%;
}
.col-90 {
  width: 90%;
}
.col-95 {
  width: 95%;
}
.col-100 {
  width: 100%;
}
header {
  background-color: #c0b59d;
  height: 170px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
header .header-bg {
  position: absolute;
  width: 1800px;
  bottom: 0;
  left: 0;
  top: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}
header .header-inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .header-inner .header-logo {
  z-index: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 136px;
  max-width: 1800px;
  width: 90%;
  margin: 0 auto;
}
header .header-inner .header-logo img {
  display: block;
  max-width: 100%;
  padding: 10px 0px 60px 0px;
}
.page-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding: 25px 50px;
}
.page-count ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page-count ul li {
  margin: 0 10px;
  position: relative;
  z-index: 1;
  font-size: 1.08rem;
  font-family: "Lato", sans-serif;
}
.page-count ul li.selected {
  color: #fff;
}
.page-count ul li.selected::after {
  content: "";
  height: 20px;
  width: 20px;
  background-color: #c0b59d;
  display: block;
  position: absolute;
  top: 4px;
  left: -7px;
  z-index: -1;
  border-radius: 50%;
}
.page-count a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.page-count a span {
  color: #35444f;
  font-size: 1.08rem;
}
.page-count a img {
  margin: 0 5px;
}
main {
  max-width: 1800px;
  width: 90%;
  margin: 0 auto;
  position: relative;
}
main .box {
  position: absolute;
  width: 100%;
  -webkit-box-shadow: 0 10px 60px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0 10px 60px 20px rgba(0, 0, 0, 0.15);
  background-color: white;
  top: 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main .box nav {
  width: 25%;
  -webkit-box-shadow: 10px 0px 45px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 10px 0px 45px 0px rgba(0, 0, 0, 0.15);
}
main .box nav ul {
  width: 100%;
}
main .box nav ul li {
  padding: 25px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
main .box nav ul li a {
  font-family: "Open Sans", sans-serif;
  color: #35444f;
  font-size: 1rem;
  font-weight: 800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}
main .box nav ul li.selected,
main .box nav ul li:hover {
  background-color: #c0b59d;
}
main .box nav ul li.selected a,
main .box nav ul li:hover a {
  color: #fff;
}
main .box nav ul li img {
  width: 30px;
  margin: 0 10px 0 25px;
}
main .box .main-section {
  width: 75%;
}
main .box .main-section__heading {
  padding: 26px 50px 15px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
main .box .main-section__heading .main-section__back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main .box .main-section__heading .main-section__back img {
  margin-right: 10px;
}
main .box .main-section__heading p {
  font-size: 1.16rem;
  font-weight: 800;
  color: #111;
}
.partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.partners .partner {
  width: 50%;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 30px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.partners .partner .partner__image {
  width: 70%;
  max-width: 300px;
  padding: 3em 30px;
  margin: 0 auto;
}
.partners .partner .button-container {
  margin: 3em 0;
}
.partners .partner .partner__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contacts .contact {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.contacts .contact .contact__image {
  width: 50%;
  max-width: 200px;
  padding: 3em 30px 0;
  margin: 0 auto;
}
.contacts .contact .contact__image img {
  border-radius: 50%;
}
.contacts .contact__title {
  text-align: center;
  padding: 30px;
}
.contacts .contact__title p {
  color: #3aa198;
  text-transform: uppercase;
  font-weight: 800;
}
.contacts .contact__info .contact__info-row {
  font-size: 0.8rem;
}
.contacts .contact__info .contact__info-row img {
  width: 10px;
}
.contacts .contact__info .contact__info-row span {
  color: #aea091;
}
.contacts .contact__info .contact__info-row a {
  color: #3aa198;
}
.overview__image {
  height: 300px;
}
.overview__image .bg-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.overview__content {
  padding: 50px;
}
.overview__content h1 {
  font-size: 2.5rem;
  margin-bottom: 1em;
}
.overview__content .pre-head {
  margin-bottom: 1.5em;
}
