header {
  background-color: #c0b59d;
  height: 170px;
  position: relative;
  width: 100%;

  @media @m {
    height: 270px;
  }

  .header-bg {
    position: absolute;
    max-width: 1600px;
    bottom: 0;
    left: 0;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
  }
  .header-inner {
    display: flex;
    max-width: 1600px;
    width: 100%;
    padding: 0 40px;
    margin: 0 auto;

    @media @m {
      padding: 0 30px;
      flex-flow: column;
    }

    .search {
      color: #fff;
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      width: 50%;
      justify-content: center;
      height: 100%;
      align-self: center;
      position: relative;

      @media @m {
        width: 100%;
        justify-content: flex-start;
        align-self: flex-start;
      }

      input {
        height: 35px;
        width: 100%;
        border-radius: 3px;
        border: 1px solid rgba(0, 0, 0, 0.15);
        padding: 0 20px;

        &:focus {
          outline: none;
        }

        @media @m {
          height: 45px;
        }
      }
      img {
        margin: 0 10px;
        width: 15px;
        position: absolute;
        right: 5px;
      }
    }

    .header-logo {
      z-index: 1;
      display: inline-flex;
      height: 136px;
      width: 100%;
      margin: 0 auto;

      @media @m {
        height: 95px;
      }
      img {
        display: block;
        max-width: 100%;
        padding: 10px 0px 60px 0px;

        @media @m {
          width: 335px;
          height: 70px;
          padding: 10px 0 0 0;
        }
      }
    }
  }
}
