<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="924da3ea-dcd0-407a-a942-33b3537c19f0" Alias="contacts" Level="1">
  <Info>
    <Name>Contacts</Name>
    <Icon>icon-user-females color-deep-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Overview for contacts</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>Contacts</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="6306e682-cba1-47bf-91b8-fd3a798949cb">Contacts</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="8ea5331d-6147-4dcd-92cc-dad39e4f3c99" SortOrder="0">contact</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>e432f017-8ac7-4203-8d5a-c9dbc2e63b22</Key>
      <Name>Items per page</Name>
      <Alias>itemsPerPage</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[6 as default]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Settings</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>