<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="924da3ea-dcd0-407a-a942-33b3537c19f0" Alias="contacts" Level="1">
  <Info>
    <Name>Contacts</Name>
    <Icon>icon-user-females color-deep-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Overview for contacts</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>Contacts</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="6306e682-cba1-47bf-91b8-fd3a798949cb">Contacts</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="8ea5331d-6147-4dcd-92cc-dad39e4f3c99" SortOrder="0">contact</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>