<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9389a5a6-4f2d-4961-8ba8-d8dc23d79cd3" Alias="homePage" Level="1">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Start page</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a296f895-9095-4e35-9894-a4731f093a4b">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="924da3ea-dcd0-407a-a942-33b3537c19f0" SortOrder="0">contacts</ContentType>
    <ContentType Key="c506e0a7-5062-4d17-aeba-6e83552d7f05" SortOrder="1">documents</ContentType>
    <ContentType Key="7d3aad09-1455-4b6f-b265-07ed43a99025" SortOrder="2">news</ContentType>
    <ContentType Key="e0ec61cb-6199-4126-9cbb-ac84aa2a3d46" SortOrder="3">partners</ContentType>
    <ContentType Key="543a4dc6-ee0c-4c90-bfa3-f5cc5284679a" SortOrder="4">searchResult</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>