<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9389a5a6-4f2d-4961-8ba8-d8dc23d79cd3" Alias="homePage" Level="1">
  <Info>
    <Name>Overview</Name>
    <Icon>icon-home color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Start page</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a296f895-9095-4e35-9894-a4731f093a4b">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="924da3ea-dcd0-407a-a942-33b3537c19f0" SortOrder="0">contacts</ContentType>
    <ContentType Key="c506e0a7-5062-4d17-aeba-6e83552d7f05" SortOrder="1">documents</ContentType>
    <ContentType Key="7d3aad09-1455-4b6f-b265-07ed43a99025" SortOrder="2">news</ContentType>
    <ContentType Key="e0ec61cb-6199-4126-9cbb-ac84aa2a3d46" SortOrder="3">partners</ContentType>
    <ContentType Key="543a4dc6-ee0c-4c90-bfa3-f5cc5284679a" SortOrder="4">searchResult</ContentType>
    <ContentType Key="e0b00967-266f-4f98-ab71-466ab58c9f77" SortOrder="5">newsArticle</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>006295e5-ef93-43ac-97c3-5b45ce0c68bd</Key>
      <Name>App Icon</Name>
      <Alias>appIcon</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3a223a80-a393-43c1-a497-037f95934051</Key>
      <Name>Favicon</Name>
      <Alias>favicon</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1d33abff-d6ac-44b8-9237-e0b8da3aed21</Key>
      <Name>Hide From Search</Name>
      <Alias>hideFromSearch</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2d8a348d-a1f6-4292-b6c0-28d1c54e3f17</Key>
      <Name>Items per page</Name>
      <Alias>itemsPerPage</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[6 as default]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f4fb490e-8e7d-45c7-96ac-1412c3ca8523</Key>
      <Name>List items</Name>
      <Alias>listItems</Alias>
      <Definition>1b613c60-6903-4602-bd89-5d647285fdc0</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>14874c09-7635-49e0-a618-57a58120d56e</Key>
      <Name>Meta Description</Name>
      <Alias>metaDescription</Alias>
      <Definition>9cfda5c0-243e-4e5c-958a-3ce70a249a38</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6e95d2c7-1af1-4c4a-b228-4776eb561301</Key>
      <Name>Meta Title</Name>
      <Alias>metaTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>266d4902-206d-4c08-ae0c-d2919bb7d390</Key>
      <Name>Hide From Navigation</Name>
      <Alias>umbracoNaviHide</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Settings</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>