<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2110ff0a-c5bf-4789-b98b-a450025e2d8b" Alias="login" Level="1">
  <Info>
    <Name>Login</Name>
    <Icon>icon-lock color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>Login</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="9b56c46c-47ad-49f7-87df-3199805aa4b9">Login</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>