<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7d3aad09-1455-4b6f-b265-07ed43a99025" Alias="news" Level="1">
  <Info>
    <Name>News</Name>
    <Icon>icon-newspaper color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Overview for news</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>News</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="6e53ce99-1aa9-4235-acef-e0637dd13327">News</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="e0b00967-266f-4f98-ab71-466ab58c9f77" SortOrder="0">newsArticle</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>