<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e0ec61cb-6199-4126-9cbb-ac84aa2a3d46" Alias="partners" Level="1">
  <Info>
    <Name>Partners</Name>
    <Icon>icon-network-alt color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>Partners</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="1311e3fc-931d-4578-9870-a08b7fee1a9a">Partners</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="7cfeed75-cafb-462a-963f-1ff54b65ec1b" SortOrder="0">partner</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>