<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e0ec61cb-6199-4126-9cbb-ac84aa2a3d46" Alias="partners" Level="1">
  <Info>
    <Name>Partners</Name>
    <Icon>icon-network-alt color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>Partners</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="1311e3fc-931d-4578-9870-a08b7fee1a9a">Partners</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="7cfeed75-cafb-462a-963f-1ff54b65ec1b" SortOrder="0">partner</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>c6edd2b3-dbfc-42f4-903c-91f1f0871a25</Key>
      <Name>Items per page</Name>
      <Alias>itemsPerPage</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[6 as default]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>73f641f1-a442-4832-a5bc-e8ab754d0dc0</Key>
      <Name>Hide From Navigation</Name>
      <Alias>umbracoNaviHide</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Settings</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>