<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="543a4dc6-ee0c-4c90-bfa3-f5cc5284679a" Alias="searchResult" Level="1">
  <Info>
    <Name>Search result</Name>
    <Icon>icon-search color-amber</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>SearchResult</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ca6cf478-6aed-4e3a-baf6-2e39421d9cc8">SearchResult</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>