<?xml version="1.0" encoding="utf-8"?>
<IglooSettings>
	<Search>
		<DocumentTypes>homePage,contact,contacts,document,documents,news,newsArticle,partner,partners</DocumentTypes>
		<Fields>nodeName,metaTitle,metaDescription,heading,text,role,directNumber,groupNumber,email,description,summary,image,uploadFile,date</Fields>
	</Search>
</IglooSettings>